/*
general stuff
*/

body {
  background-color: #EBF4FA;
  
  font-size: 14px;
  font-family: 'Raleway', sans-serif;
}


text {
	color: blue;
	text-align: center;
}

path {
	stroke: #357EC7;
	stroke-width: 1;
	fill:none;
}

.axis {
	shape-rendering: crispEdges;
}

xAxis {
	stroke: 'black';
	font-family: 'Raleway', sans-serif;
}

.bar {
	fill: #EBF4FA;
}

.bar:hover {
	fill: steelblue;
}

.histbar rect {
  fill: steelblue;
  shape-rendering: crispEdges;
}

.histbar text {
  fill: #fff;
}
